services:
  - type: web
    name: expense-tracker
    runtime: node
    repo: https://github.com/royalkuriyakosem/Expense
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 20.10.0
      - key: PORT
        value: 10000
      - key: DATABASE_URL
        sync: false
      - key: SESSION_SECRET
        generateValue: true
