<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/signup" method="POST">
        <label>Username:</label>
        <input type="text" name="username" required>
        <label>Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Signup</button>
    </form>
    <p>Already have an account? <a href="/login">Login here</a></p>
</body>
</html>
